<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.crossbowffs.noshareservices">
    <uses-sdk
        android:minSdkVersion="23"
        android:targetSdkVersion="23"/>
    <application
        android:label="NoShareServices">
        <meta-data
            android:name="xposedmodule"
            android:value="true"/>
        <meta-data
            android:name="xposeddescription"
            android:value="Prevents the share dialog from displaying services"/>
        <meta-data
            android:name="xposedminversion"
            android:value="2"/>
    </application>
</manifest>
